@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #e1e4e2;
}

/* ///////////////////////////////////NAVBAR///////////////////////// */

.navbar-container {
  background-color: #e1e4e2;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

.navbar-right-container {
  display: flex;
  overflow: hidden;
}

.navbar-right-container .icon {
  display: none;
}

.button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 0.5em 1em;
  margin: 0 1em;
  font-size: 1em;
  border-top: 3px solid #e1e4e2;
}

.button-1:hover {
  border-top: 3px solid #000000;
  transition: 0.8s ease-in-out;
}

/* ///////////////////////////////////Home Section///////////////////////// */

.home-container {
  background: url("../src/images/bg\ \(1\).png") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container-2 {
  width: 100%;
  display: flex;
  align-items: center;
}

.home-container-2 img {
  height: 20em;
  width: 15em;
  border-radius: 50%;
  box-shadow: 0 1.875em 2.5em rgba(0, 0, 0, 0.1);
  margin: 0 15% 0 15%;
}

.hey {
  font-size: 1em;
}

.info-container h1 {
  margin-top: 2em;
  width: 10em;
}

.hey-there {
  font-size: 2em;
  margin: 1em 0;
}

.name {
  color: #e1e4e2;
  margin: 0.5em 2em;
  font-size: 3em;
  font-family: "Acme", sans-serif;
}

.button-2 {
  color: #e1e4e2;
  text-decoration: none;
  border: 0.125em solid #e1e4e2;
  border-radius: 1.25em;
  padding: 0.3em 0.8em;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.resp-button-2 {
  margin: 3em 0;
}

.button-2:hover {
  background-color: #e1e4e2;
  color: black;
  transition: 0.8s ease-in-out;
}

.typed-text {
  color: white;
}

.social-media-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #e1e4e2;
  margin: 1em 0;
}

.social-media-icons {
  display: flex;
}

.social-media-icons img {
  box-sizing: content-box;
  padding: 0.6em;
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 1.5em;
  width: 1.5em;
}

.social-media-icons a:hover {
  filter: invert(0.5) sepia(1) hue-rotate(200deg);
}

.social-media-container h4 {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
}

/* ///////////////////////////////////About Section///////////////////////// */

.common-container {
  background: url("./images/about-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
}

.navlink2 {
  color: #e1e4e2;
}

.tsparticles-canvas-el {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 1;
}

.common-inner-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  background-color: black;
  z-index: 3;
}

.common-inner-container .hr-line {
  color: #e1e4e2;
  width: 50%;
  margin: auto;
}

.common-inner-container div {
  display: flex;
  flex-direction: column;
  padding: 1em 5em;
  min-width: 75vw;
  z-index: 3;
}

.common-inner-container div h1 {
  margin-top: 0.2em;
}

/* ///////////////////////////////////Contact Section///////////////////////// */

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: auto;
  padding: 1em;
  background-color: black;
  z-index: 3;
}

.contact-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
  width: 70%;
}

.contact-contents form {
  width: 100%;
}

.contact-contents div {
  width: 100%;
  margin: 2em 0;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-contents label {
  display: block;
  letter-spacing: 0.1em;
  margin: 0.5em;
}

.contact-contents div input,
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.625em;
  padding: 0.5em 1em;
  border-radius: 1.25em;
  width: 100%;
  letter-spacing: 0.1em;
  border: none;
  background-color: #e1e4e2;
  font-size: 0.7em;
}

.button-contact {
  color: #e1e4e2;
  text-decoration: none;
  border: 2px solid #e1e4e2;
  border-radius: 1.25em;
  padding: 0.4em;
  font-size: 0.8em;
  transition: 0.1s ease-in-out;
  background-color: black;
  width: 60%;
  align-self: center;
  margin: auto;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.button-contact:hover {
  background-color: #e1e4e2;
  color: black;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}

.msg-sent,
.success-msg {
  text-align: center;
}

/* ///////////////////////////////Projects/////////////////////////// */

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2em;
  color: #e1e4e2;
}

.modal-body {
  padding: 0;
}

.card-container {
  box-sizing: border-box;
  border: 2px solid #e1e4e2;
  margin: 0.8em;
  padding: 0.8em;
  min-width: 10em;
  max-width: 30%;
  background-color: black;
  opacity: 0.8;
  border-radius: 1em;
  z-index: 2;
}

/* //////////////////////////////////Card/////////////////////////// */

.project-card {
  position: relative;
}

.popup-behind {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-inner-text {
  margin: 1em 0;
  font-weight: 300;
  font-size: 1em;
}

.button-card {
  background-color: transparent;
  color: #e1e4e2;
  cursor: pointer;
  border: 1px solid #e1e4e2;
  padding: 0.1em;
}

.cara-img {
  max-height: 25em;
}

.button-popup {
  background-color: white;
  color: black;
  padding: 0.2em 0.5em;
  margin: 0.3em;
  font-size: 0.8em;
  transition: 0.3s ease-in-out;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
}

.button-popup:hover {
  background-color: #becac2;
  transition: 0.8s ease-in-out;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(100%) !important ;
}

.tt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overview-head {
  z-index: 100;
  color: black;
  margin: 0.3em;
  align-self: center;
  font-size: 1.5em;
}

.modal-inner2 {
  position: absolute;
  background-color: black;
  color: #e1e4e2;
  top: 1em;
  left: 1em;
  bottom: 1em;
  right: 1em;
  width: auto;
  height: auto;
  z-index: 3;
}

#carouselExampleIndicators {
  z-index: 5;
}

.fade,
.modal-backdrop,
.show {
  z-index: 4;
}

/* ///////////////////////////////Footer/////////////////////////// */

.footer {
  background-color: black;
  text-align: center;
  color: #e1e4e2;
  margin: 0;
  padding: 0.438em;
  font-family: "Nunito", sans-serif;
  font-size: 0.79em;
  height: 100%;
}

/* ///////////////////Responsiveness//////////////// */

@media (max-width: 1160px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hey-there,
  .name {
    display: none;
  }
  .hey {
    color: #e1e4e2;
  }
  .home-container-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .resp-button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navlink {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .toolbar_navigator {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .common-inner-container {
    width: 100%;
  }
  .common-inner-container div {
    padding: 1em;
  }
  .contact-contents form {
    width: 85vw;
  }
  .project-container {
    padding: 1rem;
  }
  .modal-inner2 {
    height: 60%;
    width: 85%;
    margin: auto;
  }
  .disable {
    display: none;
  }
  .card-container {
    max-width: 100%;
  }
  .inner-container {
    padding: 1em 0.5em;
    margin: 0;
    width: 100%;
  }

  .modal-content {
    height: 80%;
  }
}

/* ////////////////////toolbar.css///////////////// */
.toolbar {
  width: 100%;
  height: auto;
  z-index: 5000;
}

.toolbar_navigator {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-around;
}

.toolbar_logo {
  margin-left: 1rem;
}

.toolbar_logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: black;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: black;
}

@media screen and (max-width: 500px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .toggle-btn {
    display: none;
  }

  .toolbar_logo {
    margin-left: 0;
  }
}

/* SideMenu.css */
.toggle-button {
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 30px;
  height: 2px;
  background: white;
}

/* SideDrawer.css */
.side-drawer {
  height: 100%;
  background-color: #e1e4e2;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: red;
  background-color: #e1e4e2;
}

@media screen and (min-width: 500px) {
  .side-drawer {
    display: none;
  }
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(201, 52, 52, 0.3);
  z-index: 100;
}
